<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondo-inicio">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <img src="assets/img/icon-student-icon.png">


  <ion-button class="boton-centro-login" [routerLink]="'/tipo-user'">Iniciar Sesion</ion-button>
  <ion-button class="boton-centro-registr" [routerLink]="'/registrar'">Registrarse</ion-button>



</ion-content>
